[Unit]
Description=safe-traffic Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/safe-traffic-daemon   --config /etc/safe-traffic/example.toml
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
