[Unit]
Description=safe-traffic Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/safe-traffic-daemon   --config /usr/etc/safe-traffic/default.toml
Restart=no
User=root

[Install]
WantedBy=multi-user.target
